.text{
    font-size: 20px;
    color: rgb(10, 14, 1);
    text-shadow: 5px 2px 5px rgba(255, 255, 255, 0.87);
}
.text2{
    font-size: 18px;
    color: rgb(0, 2, 2);
    text-shadow: 2px 2px 10px rgba(245, 245, 245, 0.993);
}

.text6{
    font-size: 18px;
    color: rgb(0, 2, 2);
    text-shadow: 2px 2px 10px rgba(245, 245, 245, 0.993);
}