<app-header></app-header>
<app-sidebar></app-sidebar>
<header>

    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" >
        <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
    </video>
    <br><br>
    <div class="container h-100" style="margin-left:4%">
        <div class="d-flex h-100">
            <div class="row">
                <div class="col-md-12" class="grad" >
                    <h2 class="text" style="margin-top:2%" >&nbsp;&nbsp;&nbsp;Profile</h2>                   
                            <tr *ngFor="let item of udata; index as i">
                                <td class="text2">{{item.username}}</td>
                                <td class="text2">{{item.email}}</td>
                                <td class="text2">{{item.phone}}</td>
                                <td class="text2">{{item.brith}}</td>
                                <td class="text2">{{item.gender}}</td>
                            </tr>                    
                </div>
            </div>
        </div>
    </div>
</header>
<div id="btbar" class="text-white">
    <div style="margin-left:38%" class="text3"><br><a>DevTeam</a><br></div>
    <div style="margin-left:4%">
        <a>B6114121 Piyapong Visitsin |BramZa007| &nbsp;&nbsp;&nbsp;</a>
        <a>B6112745 Chalintra Yotasi |JinaZa007| &nbsp;&nbsp;&nbsp;</a>
        <a>B6107826 Makawan Thojan |AnfaZa007| &nbsp;&nbsp;&nbsp;</a>
        <a>B6117603 Teerawat Uasriwong |TorguZaa| &nbsp;&nbsp;&nbsp;</a>
    </div>
</div>
